{{ define "adminLayout" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>{{ .Title }}</title>
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
      />
      <meta
        name="description"
        content="{{ .Description }}"
      />
      <meta
        name="author"
        content="Rafael Zasas- Protea Technology Services LLC"
      />
      <meta
        name="theme-color"
        content="#000000"
      />
      <link
        rel="icon"
        href="/public/favicon.ico"
      />
      <script src="/public/htmx/htmx.min.js"></script>
      <script
        src="/public/htmx/ext/response-targets.js"
        defer
      ></script>
      <link
        href="/public/styles.css"
        rel="stylesheet"
      />
    </head>

    <body class="flex h-full min-h-screen flex-col bg-sky-50 text-gray-400">
      <div class="flex h-full flex-grow">
        {{ template "adminSidebar" . }}
        <div class="flex-grow">
          {{ template "adminHeader" . }}
          <main class="m-6 min-h-full flex-grow md:pl-[20vw]">
            {{ template "adminContent" . }}
          </main>
        </div>
      </div>
      {{ template "footer" . }}
      <script
        src="/public/index.js"
        defer
      ></script>
      <script>
        function toggleSidebar() {
          document
            .getElementById('sidebar')
            .classList.toggle('-translate-x-full');
          document
            .getElementById('sidebar-icon')
            .classList.toggle('rotate-180');
        }
      </script>
    </body>
  </html>
{{ end }}
