{{ define "content" }}
  <div class="container mx-auto px-6 py-12 text-center">
    <h1 class="text-6xl font-bold text-gray-800 md:text-8xl">404</h1>
    <p class="mt-6 text-lg text-gray-600 md:text-xl">Oops! Page not found.</p>
    <p class="text-md mt-2 text-gray-500">
      We can't seem to find the page you're looking for.
    </p>
    <div class="mt-6">
      <form
        action="/search"
        method="get"
        class="flex justify-center"
      >
        <input
          type="text"
          name="q"
          placeholder="Search our site"
          class="w-full max-w-xl rounded-l-lg border px-4 py-2 focus:border-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500"
        />
        <button
          type="submit"
          class="rounded-r-lg bg-indigo-600 px-6 py-2 text-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50"
        >
          Search
        </button>
      </form>
    </div>
    <a
      href="/"
      class="mt-6 inline-block px-4 py-2 text-sm font-semibold text-indigo-600 hover:text-indigo-500"
      >Go back to the Home Page</a
    >
  </div>
{{ end }}
